@font-face {
	font-family: 'Courgette';
	src: url('./fonts/Courgette-Regular.eot');
	src: local('☺'), url('./fonts/Courgette-Regular.woff') format('woff'), url('./fonts/Courgette-Regular.ttf') format('truetype'), url('./fonts/Courgette-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SourceCodePro';
	src: url('./fonts/SourceCodePro-Bold.eot');
	src: local('☺'), url('./fonts/SourceCodePro-Bold.woff') format('woff'), url('./fonts/SourceCodePro-Bold.ttf') format('truetype'), url('./fonts/SourceCodePro-Bold.svg') format('svg');
  font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Righteous';
	src: url('./fonts/Righteous.eot');
	src: local('☺'), url('./fonts/Righteous.woff') format('woff'), url('./fonts/Righteous.ttf') format('truetype'), url('./fonts/Righteous.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

/* Default settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.homepage__wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: url("./images/background-images/rybar-na-lodi.jpg") 50% 50% / cover no-repeat;
}

/* Navigace */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  transition: 0.4s;
}

.header__body.nonstick {
  height: 80px;
  background-color: #e7e4e4;
}

.header__logo {
  overflow: hidden;
  margin: 0px 0px 0px 25px;
  position: relative;
  z-index: 3;
}

.logo__image {
  max-width: 100%;
  height: 70px;
  display: block;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__item {
  position: relative;
  list-style: none;
  margin: 0px 45px 0px 0px;
  cursor: pointer;
}

.header__link {
  text-decoration: none;
  font-family: "Righteous", sans-serif;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  color: #443726;
}

.header__toggle {
  display: none;
}

/* Navigace pro mobilní zařízení */

@media only screen and (max-width: 1119px) {
  .header__body {
    height: 80px;
  }

  .header__body.nonstick {
    height: 70px;
  }

  .logo__image {
    height: 60px;
  }

  .header__item {
    margin: 0px 35px 0px 0px;
  }

  .header__link {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 999px) {
  .header__logo {
    margin-right: 20px;
    flex-shrink: 1;
  }

  .header__list {
    text-align: center;
  }

  .header__navigation {
    flex-shrink: 2;
  }

  .header__item {
    margin: 0px 25px 0px 0px;
  }

  .header__link {
    font-size: 1.3em;
  }
}

/* Navigace pro mobilní zařízení (hover efekt) */

@media only screen and (min-width: 768px) {
  #header__underline {
    display: block;
    position: absolute;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #443726;
    bottom: -10px;
    transition: all .4s ease-out 0s;
    border-radius: 4px;
  }
}

/* Navigace burger pro mobilní zařízení */

@media only screen and (max-width: 767px) {
  #header__underline {
    display: none;
  }

  body.block {
    overflow: hidden;
  }

  .header__body {
    height: 60px;
  }

  .header__body.nonstick {
    height: 54px;
  }

  .logo__image {
    height: 40px;
  }

  .header__toggle {
    display: block;
    position: relative;
    right: 20px;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .header__burger {
    position: absolute;
    background-color: #443726;
    width: 100%;
    left: 0;
    height: 3px;
    top: 9px;
    transition: all 350ms ease-in-out 0ms;
  }

  .header__toggle::before,
  .header__toggle::after {
    content: '';
    background-color: #443726;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 350ms ease-in-out 0ms;
  }

  .header__toggle::before {
    top: 0;
  }

  .header__toggle::after {
    bottom: 0;
  }

  .header__toggle.active::before {
    transform: rotate(315deg);
    top: 9px;
  }

  .header__toggle.active::after {
    transform: rotate(-315deg);
    bottom: 8px;
  }

  .header__burger.active {
    transform: scale(0);
  }

  .header__navigation {
    position: fixed;
    top: -100%;
    right: 0;
    width: 60%;
    overflow: auto;
    background-color: #e7e4e4;
    border-bottom-left-radius: 10px;
    padding: 55px 15px 0px 15px;
    transition: top .4s linear 0s;
  }

  .header__navigation.active {
    top: 0;
  }

  .header__list{
    display: block;
  }

  .header__item {
    margin: 0;
    padding: 20px 0px;
    border-bottom: 1px solid #bdbdc2;
  }

  .header__item:nth-child(1) {
    border-top: 1px solid #bdbdc2;
  }

  .header__item:last-child {
    border-bottom: none;
  }
}

@media only screen and (max-width: 430px) {
  .header__logo {
    margin-left: 15px;
  }

  .header__navigation {
    width: 55%;
    padding: 55px 5px 0px 5px;
  }

  .header__link {
    letter-spacing: 1.8px;
  }
}

/* Stylizace mlhy */

.fog {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('./images/background-images/fog.png');
  background-size: cover;
  animation: animateFog 90s linear infinite;
}

@keyframes animateFog {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 5440px;
  }
}

/* Rotační galerie */

.gallery__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: black;
}

.gallery {
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  animation: animateAbove965 20s linear infinite;
}

.gallery span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.gallery span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

@media only screen and (max-width: 965px) {
  .gallery__wrapper {
    min-height: 60vh;
  }

  .gallery {
      width: 150px;
      height: 150px;
      animation: animateMax965px 20s linear infinite;
  }

  .gallery span {
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
  }
}

@media only screen and (max-width: 750px) {
  .gallery__wrapper {
    min-height: 50vh;
  }

  .gallery {
      width: 100px;
      height: 100px;
      animation: animateMax750 20s linear infinite;
  }

  .gallery span {
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(180px);
  }
}

@media only screen and (max-width: 460px) {
  .gallery__wrapper {
    min-height: 40vh;
  }

  .gallery {
      width: 70px;
      height: 70px;
      animation: animateMax460 20s linear infinite;
  }

  .gallery span {
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(120px);
  }
}

/* Sada keyframes na různá rozlišení */

@keyframes animateAbove965 {
  0% {
      transform: perspective(1000px) rotateY(0deg);
  }

  100% {
      transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes animateMax965px {
  0% {
      transform: perspective(800px) rotateY(0deg);
  }

  100% {
      transform: perspective(800px) rotateY(360deg);
  }
}

@keyframes animateMax750 {
  0% {
      transform: perspective(400px) rotateY(0deg);
  }

  100% {
      transform: perspective(400px) rotateY(360deg);
  }
}

@keyframes animateMax460 {
  0% {
      transform: perspective(250px) rotateY(0deg);
  }

  100% {
      transform: perspective(250px) rotateY(360deg);
  }
}