extends ../../layout/main

block variables
    - var scriptSrc = 'revir_473051.js'

block content
    section.revirGallery
        h2.revirGallery__header
            span.revirGallery__headerItem(style="--i:1;") 4
            span.revirGallery__headerItem(style="--i:2;") 7
            span.revirGallery__headerItem(style="--i:3;") 3
            span.revirGallery__headerItem(style="--i:4;") &nbsp;
            span.revirGallery__headerItem(style="--i:5;") 0
            span.revirGallery__headerItem(style="--i:6;") 5
            span.revirGallery__headerItem(style="--i:7;") 1
            span.revirGallery__headerItem(style="--i:8;") &nbsp;
            span.revirGallery__headerItem(style="--i:9;") -
            span.revirGallery__headerItem(style="--i:10;") &nbsp;
            span.revirGallery__headerItem(style="--i:11;") M
            span.revirGallery__headerItem(style="--i:12;") o
            span.revirGallery__headerItem(style="--i:13;") r
            span.revirGallery__headerItem(style="--i:14;") a
            span.revirGallery__headerItem(style="--i:15;") v
            span.revirGallery__headerItem(style="--i:16;") i
            span.revirGallery__headerItem(style="--i:17;") c
            span.revirGallery__headerItem(style="--i:18;") e
            span.revirGallery__headerItem(style="--i:19;") &nbsp;
            span.revirGallery__headerItem(style="--i:20;") 1
            span.revirGallery__headerItem(style="--i:21;") P
        h3.revirGallery__instruction Zvolte si na mapě úsek revíru:
        .revirGallery__container
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#1(src='../../districts-images/revir_473051/1.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#2(src='../../districts-images/revir_473051/2.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#3(src='../../districts-images/revir_473051/3.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#4(src='../../districts-images/revir_473051/4.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#5(src='../../districts-images/revir_473051/5.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#6(src='../../districts-images/revir_473051/6.jpg')
        .revirGallery__description
            nav.revirGallery__navigation
                a.revirGallery__navigationItem(href="#tab_01") Popis revíru
                a.revirGallery__navigationItem(href="#tab_02") Vlastnosti revíru
            .revirGallery__tabs
                #tab_01.revirGallery__tab
                    | Přítok Opavy, Odry. Od nového splavu nad Kylešovicemi až po jez pod Žimrovicemi mimo Hvozdnici. Přítok Hradečná je CHRO - lov ryb zakázán.
                    br
                    | Od jezu v obci Branka u Opavy po horní hranici revíru je úsek s režimem rybolovu dle odlišných podmínek. K lovu ryb v úseku revíru s odchylnými podmínkami rybolovu opravňuje pstruhová povolenka Českého rybářského svazu územní, celosvazová a celorepubliková s platnou místenkou vydanou MO ČRS Opava. Jednodenní a týdenní pstruhové povolenky je možné zakoupit v sídle MO Opava po telefonické domluvě.
                    br
                    | Informace o tomto úseku revíru s odlišnými podmínkami lovu jsou na www.crsopava.cz.
                    br
                    | Nejmenší lovná míra pstruha obecného a pstruha duhového v úseku s odchylnými podmínkami zvýšena na 40 cm.
                #tab_02.revirGallery__tab
                    | Číslo revíru: 473 051
                    br
                    | GPS Z: 49°54‘22.56“N, 17°54‘29.299“E, K: 49°51‘36.973“N, 17°51‘41.339“E
                    br
                    | Rozloha revíru: 7 km, 13 ha
                    br
                    | Typ revíru: pstruhový revír
                    br
                    | Uživatel revíru: Moravskoslezský ÚS
                    br
                    | Organizace pověřená hospodařením MO Opava
    .popup#popup
        .popup__body
            .popup__content
                a.popup__close(href="") X
                img.popup__image(src='')