extends ../../layout/main

block variables
    - var scriptSrc = 'revir_473051.js'

block content
    section.revirGallery
        h2.revirGallery__header HEADER
        .revirGallery__container
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image(src='../../districts-images/revir_473051/1.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image(src='../../districts-images/revir_473051/2.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image(src='../../districts-images/revir_473051/3.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image(src='../../districts-images/revir_473051/4.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image(src='../../districts-images/revir_473051/5.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image(src='../../districts-images/revir_473051/6.jpg')
        .revirGallery__description
            p.revirGallery__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, facilis.