@font-face {
  font-family: 'Courgette';
  src: url('../fonts/Courgette-Regular.eot');
  src: local('☺'), url('../fonts/Courgette-Regular.woff') format('woff'), url('../fonts/Courgette-Regular.ttf') format('truetype'), url('../fonts/Courgette-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('../fonts/SourceCodePro-Bold.eot');
  src: local('☺'), url('../fonts/SourceCodePro-Bold.woff') format('woff'), url('../fonts/SourceCodePro-Bold.ttf') format('truetype'), url('../fonts/SourceCodePro-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Righteous';
  src: url('../fonts/Righteous.eot');
  src: local('☺'), url('../fonts/Righteous.woff') format('woff'), url('../fonts/Righteous.ttf') format('truetype'), url('../fonts/Righteous.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

/* Default settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.homepage__wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: url("../images/background-images/rybar-na-lodi.webp") 50% 50% / cover no-repeat;
}

/* Navigace */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  transition: 0.4s;
}

.header__body.stick {
  height: 80px;
  background-color: #e7e4e4;
}

.header__logo {
  overflow: hidden;
  margin: 0px 0px 0px 25px;
  position: relative;
  z-index: 3;
}

.logo__image {
  max-width: 100%;
  height: 70px;
  display: block;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__item {
  position: relative;
  list-style: none;
  margin: 0px 45px 0px 0px;
  cursor: pointer;
}

.header__link {
  text-decoration: none;
  font-family: "Righteous", sans-serif;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  color: #443726;
}

.header__toggle {
  display: none;
}

/* Navigace pro mobilní zařízení */

@media only screen and (max-width: 1365px) {
  .header__body {
    height: 80px;
  }

  .header__body.stick {
    height: 70px;
  }

  .logo__image {
    height: 60px;
  }

  .header__item {
    margin: 0px 35px 0px 0px;
  }

  .header__link {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1230px) {
  .header__logo {
    margin-right: 20px;
    flex-shrink: 1;
  }

  .header__list {
    text-align: center;
  }

  .header__navigation {
    flex-shrink: 2;
  }

  .header__item {
    margin: 0px 25px 0px 0px;
  }

  .header__link {
    font-size: 1.3em;
  }
}

/* Navigace pro mobilní zařízení (hover efekt) */

@media only screen and (min-width: 768px) {
  #header__underline {
    display: block;
    position: absolute;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #443726;
    bottom: -10px;
    transition: all .4s ease-out 0s;
    border-radius: 4px;
  }
}

/* Navigace burger pro mobilní zařízení */

@media only screen and (max-width: 768px) {
  #header__underline {
    display: none;
  }

  body.block {
    overflow: hidden;
  }

  .header__body {
    height: 60px;
  }

  .header__body.stick {
    height: 54px;
  }

  .logo__image {
    height: 40px;
  }

  .header__toggle {
    display: block;
    position: relative;
    right: 20px;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .header__burger {
    position: absolute;
    background-color: #443726;
    width: 100%;
    left: 0;
    height: 3px;
    top: 9px;
    transition: all 350ms ease-in-out 0ms;
  }

  .header__toggle::before,
  .header__toggle::after {
    content: '';
    background-color: #443726;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 350ms ease-in-out 0ms;
  }

  .header__toggle::before {
    top: 0;
  }

  .header__toggle::after {
    bottom: 0;
  }

  .header__toggle.active::before {
    transform: rotate(315deg);
    top: 9px;
  }

  .header__toggle.active::after {
    transform: rotate(-315deg);
    bottom: 8px;
  }

  .header__burger.active {
    transform: scale(0);
  }

  .header__navigation {
    position: fixed;
    top: -100%;
    right: 0;
    width: 60%;
    overflow: auto;
    background-color: #e7e4e4;
    border-bottom-left-radius: 10px;
    padding: 55px 15px 0px 15px;
    transition: top .4s linear 0s;
  }

  .header__navigation.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__item {
    margin: 0;
    padding: 20px 0px;
    border-bottom: 1px solid #bdbdc2;
  }

  .header__item:nth-child(1) {
    border-top: 1px solid #bdbdc2;
  }

  .header__item:last-child {
    border-bottom: none;
  }
}

@media only screen and (max-width: 430px) {
  .header__logo {
    margin-left: 15px;
  }

  .header__navigation {
    width: 55%;
    padding: 55px 5px 0px 5px;
  }

  .header__link {
    letter-spacing: 1.8px;
  }
}

/* Stylování mlhy */

.fog {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../images/background-images/fog.webp');
  background-size: cover;
  animation: animateFog 90s linear infinite;
}

@keyframes animateFog {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 5440px;
  }
}

/* Rotační galerie */

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background: linear-gradient(17deg, #00626f, #02a6b0, #9ab8c7, #a3bbcb 80%);
}

.swiper-container {
  max-width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
}

.swiper__image {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

/* Rotační galerie media */

@media only screen and (max-width: 767px) {
  .swiper-slide {
    width: 300px;
    height: 225px;
  }
}

/* cardBox */

.cardBox {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 20px 0 60px 0;
}

.pstruhove {
  background: url('../images/background-images/pstruhove-background.webp') 50% 50% / cover no-repeat;
}

.mimopstruhove {
  background: url('../images/background-images/mimopstruhove-background.webp') 50% 50% / cover no-repeat;
}

/* cardBox zahláví */

.cardBox__header {
  font-size: 4em;
  font-family: "SourceCodePro", sans-serif;
}

.cardBox__header-transparent {
  position: relative;
  top: 0;
  left: 30px;
  color: transparent;
}

.pstruhove__header-transparent {
  -webkit-text-stroke: 3px #032e42;
}

.mimopstruhove__header-transparent {
  -webkit-text-stroke: 3px #0c2427;
}

.cardBox__header-animated {
  position: absolute;
  top: 20px;
  left: 30px;
  color: #18b6ff;
  animation: wawyHeader 4s ease-in-out infinite;
}

.pstruhove__header-animated {
  color: #18b6ff;
}

.mimopstruhove__header-animated {
  color: #080a80;
}

@keyframes wawyHeader {

  0%,
  100% {
    clip-path: polygon(0 26%, 13% 47%, 25% 55%, 42% 64%, 55% 65%, 69% 57%, 84% 46%, 100% 37%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 64%, 14% 58%, 25% 51%, 41% 42%, 57% 40%, 71% 45%, 85% 50%, 100% 61%, 100% 100%, 0% 100%);
  }
}

/* cardBox obsah */

.cardBox__body {
  position: relative;
  max-width: 1840px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
  transform: skewY(-4deg);
  z-index: 2;
}

/* Kartičky */

.cardBox__body .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 100px 80px;
  transition: .5s;
}

.card .card__ghostLink {
  position: absolute;
  display: block;
  top: -15px;
  left: -15px;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  z-index: 5;
}

.cardBox__body .card::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: .5s;
}

.cardBox__body .card::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 100%;
  transform-origin: left;
  transform: skewY(45deg);
  transition: .5s;
}

.cardBox__body .card-light::before {
  background-color: #1e5479;
}

.cardBox__body .card-light::after {
  background-color: #122e42;
}

.cardBox__body .card-dark::before {
  background-color: #12363d;
}

.cardBox__body .card-dark::after {
  background-color: #071a1d;
}

.cardBox__body .card:hover {
  transform: translateY(-40px);
}

.card__imageBox {
  width: 100%;
  height: 50%;
}

.card__imageBox .card__previewImage {
  max-width: 100%;
  height: auto;
  display: block;
}

.card .card__content {
  width: 100%;
  height: 50%;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.card__content-light {
  color: #D8EEE1;
  background-color: #163D57;
}

.card__content-dark {
  color: #F4A15D;
  background-color: #0C2427;
}

.card__content .card__header {
  font-size: 2.5em;
}

.card__content .card__supplementalHeader {
  font-size: 2em;
}

.card__content .card__description {
  font-size: 1.1em;
}

/* cardBox media */

@media only screen and (max-width: 1380px) {
  .cardBox__body .card {
    margin: 100px 50px;
  }
}

@media only screen and (max-width: 830px) {

  .mimopstruhove__header-transparent,
  .mimopstruhove__header-animated {
    font-size: 3.2em;
  }
}

@media only screen and (max-width: 680px) {
  .cardBox {
    padding-top: 40px;
  }

  .mimopstruhove__header-transparent,
  .mimopstruhove__header-animated {
    font-size: 2.5em;
  }

  .pstruhove__header-transparent,
  .pstruhove__header-animated {
    font-size: 3em;
  }

  .cardBox__header-transparent {
    top: -20px;
  }

  .cardBox__body .card {
    margin: 70px 30px;
  }
}

@media only screen and (max-width: 530px) {

  .mimopstruhove__header-transparent,
  .mimopstruhove__header-animated {
    left: 5px;
    font-size: 2.2em;
    word-spacing: -0.2em;
  }

  .pstruhove__header-transparent,
  .pstruhove__header-animated {
    left: 20px;
    font-size: 2.5em;
  }

  .cardBox__header-transparent {
    top: -30px;
    -webkit-text-stroke: 2px #032e42;
  }

  .cardBox__header-animated {
    top: 10px;
  }

  .cardBox__body .card {
    margin: 60px 20px;
  }
}

@media only screen and (max-width: 422px) {
  .cardBox__header {
    font-size: 1.975em;
    left: 10px;
  }

  .cardBox__body .card {
    width: 250px;
    height: 333px;
  }

  .cardBox__body .card {
    margin: 50px 0;
  }

  .card__content .card__header {
    font-size: 2em;
  }

  .card__content .card__supplementalHeader {
    font-size: 1.6em;
  }

  .card__content .card__description {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 390px) {

  .mimopstruhove__header-transparent,
  .mimopstruhove__header-animated {
    left: 1px;
    word-spacing: -0.4em;
    letter-spacing: -0.08em;
  }

  .cardBox__header-transparent {
    -webkit-text-stroke: 1px #032e42;
  }
}

/* Bubliny */

.cardBox__bubbleBox {
  position: absolute;
  width: 100%;
  bottom: -50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cardBox__bubble {
  position: relative;
  animation: bubbleFloat 25s linear infinite;
  z-index: 1;
}

@keyframes bubbleFloat {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1000vh);
  }
}

/* Jednotlivé bubliny */

.cardBox__bubble:nth-child(1) {
  width: 32px;
  animation-delay: 5s;
}

.cardBox__bubble:nth-child(2) {
  width: 26px;
  animation-delay: 2s;
}

.cardBox__bubble:nth-child(3) {
  width: 38px;
  animation-delay: 15s;
}

.cardBox__bubble:nth-child(4) {
  width: 40px;
  animation-delay: 10s;
}

.cardBox__bubble:nth-child(5) {
  width: 32px;
  animation-delay: 20s;
}

.cardBox__bubble:nth-child(6) {
  width: 45px;
  animation-delay: 8s;
}

.cardBox__bubble:nth-child(7) {
  width: 28px;
  animation-delay: 1s;
}

.cardBox__bubble:nth-child(8) {
  width: 50px;
  animation-delay: 17s;
}

.cardBox__bubble:nth-child(9) {
  width: 34px;
  animation-delay: 12s;
}

.cardBox__bubble:nth-child(10) {
  width: 40px;
  animation-delay: 22s;
}

/* Rybičky */

.cardBox__fishBox {
  position: absolute;
  height: 100%;
  left: -100px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cardBox__fish {
  position: relative;
  animation: fishSwim 15s linear infinite;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .cardBox__fish {
    animation: fishSwim 10s linear infinite;
  }
}

@keyframes fishSwim {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(130vw);
  }
}

/* Jednotlivé rybičky */

.cardBox__fish:nth-child(1) {
  width: 52px;
  animation-delay: 5s;
}

.cardBox__fish:nth-child(2) {
  width: 40px;
  animation-delay: 2s;
}

.cardBox__fish:nth-child(3) {
  width: 48px;
  animation-delay: 15s;
}

.cardBox__fish:nth-child(4) {
  width: 55px;
  animation-delay: 10s;
}

.cardBox__fish:nth-child(5) {
  width: 38px;
  animation-delay: 20s;
}

.cardBox__fish:nth-child(6) {
  width: 65px;
  animation-delay: 8s;
}

.cardBox__fish:nth-child(7) {
  width: 42px;
  animation-delay: 1s;
}

.cardBox__fish:nth-child(8) {
  width: 60px;
  animation-delay: 17s;
}

.cardBox__fish:nth-child(9) {
  width: 48px;
  animation-delay: 12s;
}

.cardBox__fish:nth-child(10) {
  width: 55px;
  animation-delay: 22s;
}

/* Počasí block */

.pocasi {
  min-height: 92vh;
  width: 100%;
  display: flex;
  background: url("../images/background-images/pocasi-background.webp") 50% 50% / cover no-repeat;
}

.pocasi__main {
  width: 60%;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pocasi__content {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.pocasi__mesto,
.pocasi__datum {
  margin-top: 20px;
}

.pocasi__teplota,
.pocasi__mestoDatumContainer {
  color: #e7e4e4;
  opacity: 0.85;
  font-family: "SourceCodePro", sans-serif;
}

.pocasi__teplota {
  font-size: 10em;
}

.pocasi__mesto {
  font-size: 5em;
}

.pocasi__datum {
  font-size: 3em;
}

.pocasi__icon {
  width: 150px;
  height: 150px;
}

.pocasi__icon img {
  width: 100%;
  height: 100%;
}

/* Glass morphism */

.pocasi__secondary {
  width: 40%;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: rgba(0, 0, 15, 0.15);
  box-shadow: 0 8px 8px 0 rgba(116, 71, 13, 0.25);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

/* Náhradní styly pro Firefox */

@-moz-document url-prefix() {
  .pocasi__secondary {
    background-color: rgba(20, 20, 20, 0.6);
  }
}

.enterArea {
  height: 100px;
  min-width: 90%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}

.enterArea__input {
  width: 100%;
  max-width: 75%;
  padding: 30px 0px 5px 0px;
  border: none;
  outline: none;
  border-bottom: 3px solid #e7e4e4;
  background-color: transparent;
  color: #e7e4e4;
  font-family: "SourceCodePro", sans-serif;
  font-size: 2.4em;
}

.enterArea__input::placeholder {
  color: #e7e4e4;
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

.enterArea__input:focus::placeholder {
  opacity: 0;
}

.enterArea__submitButton {
  max-width: 100px;
  width: 100%;
  height: 100%;
  background: url('../icons/search-icon.svg') no-repeat center center #d66c05;
  background-size: 50%;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.enterArea__submitButton:hover {
  background-size: 70%;
}

.enterArea__submitButton:active {
  background-size: 50%;
}

.podrobnosti__wrapper {
  min-height: calc(100% - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.podrobnosti {
  width: 80%;
  border-bottom: 3px solid #e7e4e4;
}

.podrobnosti__header {
  margin-bottom: 70px;
  font-family: "SourceCodePro", sans-serif;
  font-size: 2.4em;
  color: #e7e4e4;
}

.podrobnosti__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.podrobnosti__keys>li,
ul.podrobnosti__values>li {
  margin-bottom: 50px;
  font-family: "Righteous", sans-serif;
  list-style: none;
  font-size: 2em;
  color: #e7e4e4;
  opacity: 0.8;
}

/* Počasí media */

@media only screen and (max-width: 1500px) {
  .pocasi__teplota {
    font-size: 8em;
  }

  .pocasi__mesto {
    font-size: 4em;
  }

  .pocasi__datum {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 1300px) {
  .pocasi__teplota {
    font-size: 6.75em;
  }

  .pocasi__mesto {
    font-size: 3.5em;
  }

  .pocasi__datum {
    font-size: 2.25em;
  }

  .podrobnosti__wrapper {
    min-height: calc(100% - 80px);
  }

  .enterArea {
    height: 80px;
  }

  .enterArea__input {
    font-size: 2em;
  }

  .enterArea__submitButton {
    max-width: 80px;
    width: 100%;
    height: 100%;
  }

  .podrobnosti__header {
    font-size: 2em;
  }

  ul.podrobnosti__keys>li,
  ul.podrobnosti__values>li {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 1000px) {
  .pocasi__teplota {
    font-size: 5.75em;
  }

  .pocasi__mesto {
    font-size: 3em;
  }

  .pocasi__datum {
    font-size: 2em;
  }

  .pocasi__icon {
    width: 80px;
    height: 80px;
  }

  .podrobnosti__wrapper {
    min-height: calc(100% - 70px);
  }

  .enterArea {
    height: 70px;
    min-width: 97%;
    margin-left: 3%;
  }

  .enterArea__input {
    font-size: 1.6em;
  }

  .enterArea__submitButton {
    max-width: 70px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .pocasi {
    flex-direction: column;
  }

  .pocasi__main {
    width: 100%;
    min-height: 40vh;
    order: 2;
  }

  .pocasi__secondary {
    width: 100%;
    min-height: 52vh;
    order: 1;
    justify-content: space-evenly;
  }

  .podrobnosti__wrapper {
    margin-top: 50px;
  }

  .enterArea {
    min-width: 100%;
    margin: 10px 0px 0px 0px;
    justify-content: center;
  }

  .enterArea__input {
    width: auto;
    padding: 0;
    font-size: 2em;
  }

  .enterArea__submitButton {
    border-radius: 5px 5px 5px 0px;
  }

  .podrobnosti__header {
    margin-bottom: 50px;
  }
}

@media only screen and (max-height: 600px) {

  .enterArea,
  .podrobnosti__header {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .enterArea__input {
    font-size: 1.6em;
  }

  .podrobnosti__header {
    font-size: 1.8em;
  }

  ul.podrobnosti__keys>li,
  ul.podrobnosti__values>li {
    font-size: 1.6em;
  }

  .pocasi__teplota {
    font-size: 5em;
  }

  .pocasi__mesto {
    font-size: 2.5em;
  }

  .pocasi__datum {
    font-size: 1.5em;
  }
}

/* O projektu block */

.oProjektu {
  width: 100%;
  height: 85vh;
  position: relative;
}

.oProjektu__contentContainer {
  position: absolute;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  display: flex;
  color: white;
}

.popisProjektu,
.vybaveniProjektu {
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popisProjektu {
  padding: 50px 30px;
}

.vybaveniProjektu {
  padding: 10px 0px;
}

.popisProjektu__header,
.vybaveniProjektu__header {
  font-size: 2em;
  font-family: "Righteous", sans-serif;
  color: #e7e4e4;
  opacity: 0.8;
}

.popisProjektu__header {
  margin-bottom: 50px;
}

.vybaveniProjektu__header {
  margin: 30px 0px;
}

.popisProjektu__body {
  text-align: center;
  font-family: 'Courgette', sans-serif;
  font-size: 1.4em;
  line-height: 1.5;
  letter-spacing: 1.8px;
  color: #e7e4e4;
}

.vybaveniProjektu__body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.vybaveniProjektu__body>* {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.vybaveniProjektu__prutImage,
.vybaveniProjektu__navijakImage,
.vybaveniProjektu__snuraImage,
.vybaveniProjektu__sonarImage {
  max-width: 100%;
  height: 80%;
  display: block;
  object-fit: contain;
}

.vybaveniProjektu__prutPopis,
.vybaveniProjektu__navijakPopis,
.vybaveniProjektu__snuraPopis,
.vybaveniProjektu__sonarPopis {
  max-width: 100%;
  height: 20%;
  text-align: center;
  word-spacing: -5px;
  font-family: "SourceCodePro", sans-serif;
  font-size: 1.1em;
  color: #e7e4e4;
}

#scene {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #130d17;
}

@-moz-document url-prefix() {
  #scene {
    background-color: #101218;
  }
}

.oProjektu__parallaxImage {
  width: 100%;
}

/* O projektu block (media) */

@media only screen and (max-height: 960px),
(max-width: 1366px) {

  .popisProjektu__body {
    font-size: 1.1em;
  }

  .vybaveniProjektu__header {
    margin: 10px 0px 0px 0px;
  }

  .vybaveniProjektu__body>* {
    width: 200px;
    height: 200px;
  }

  .vybaveniProjektu__prutPopis,
  .vybaveniProjektu__navijakPopis,
  .vybaveniProjektu__snuraPopis,
  .vybaveniProjektu__sonarPopis {
    font-size: 0.85em;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .oProjektu__contentContainer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .popisProjektu,
  .vybaveniProjektu {
    width: 100%;
    min-height: 50%;
  }

  .vybaveniProjektu__header {
    margin-bottom: 20px;
  }

  .vybaveniProjektu__body>* {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-height: 1230px) and (orientation: portrait) {
  .popisProjektu {
    padding: 20px 30px;
  }

  .popisProjektu__header,
  .vybaveniProjektu__header {
    font-size: 1.8em;
  }

  .popisProjektu__header {
    margin-bottom: 20px;
  }

  .vybaveniProjektu__body>* {
    width: 200px;
    height: 200px;
  }

  .popisProjektu__body {
    font-size: 1em;
  }
}

@media only screen and (max-width: 767px) {
  .oProjektu__contentContainer {
    justify-content: center;
    align-items: center;
  }

  .popisProjektu__header {
    margin-bottom: 30px;
  }

  .vybaveniProjektu {
    display: none;
  }
}

@media only screen and (max-width: 465px) {
  .popisProjektu {
    padding: 15px;
  }

  .popisProjektu__header {
    margin-bottom: 15px;
    font-size: 1.6em;
  }

  .popisProjektu__body {
    font-size: 0.9em;
  }
}

/* Footer */

.footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #e7e4e4;
  background-color: #071a1d;
}

.footer__logoImage {
  max-width: 100%;
  height: 60px;
  margin: 10px 0px;
  display: block;
}

.socials {
  display: flex;
}

.socials__item {
  list-style: none;
}

.socials__link {
  width: 50px;
  height: 50px;
  margin: 20px;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e4e4;
  text-decoration: none;
  color: #443726;
  opacity: 0.8;
  transition: 0.4s;
}

.socials__link:hover {
  color: #18b6ff;
  opacity: 1;
  transform: translateY(-12px);
}

.footer__copyRight {
  font-family: "SourceCodePro", sans-serif;
  word-spacing: -4px;
  font-size: 1.2em;
  color: #443726;
}

/* Footer media */

@media only screen and (max-width: 1366px) {
  .footer__logoImage {
    height: 50px;
  }

  .socials__link {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .socials__link:hover {
    transform: translateY(-10px);
  }

  .footer__copyRight {
    word-spacing: -4px;
    font-size: 1em;
  }
}

@media only screen and (max-width: 1024px) {
  .footer__logoImage {
    height: 40px;
  }

  .socials__link {
    width: 30px;
    height: 30px;
    margin: 15px;
    font-size: 16px;
  }

  .socials__link:hover {
    transform: translateY(-8px);
  }

  .footer__copyRight {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 767px) {
  .footer__logo {
    display: none;
  }

  .footer {
    justify-content: space-evenly;
  }

  .footer__copyRight {
    word-spacing: -3px;
  }
}

@media only screen and (max-width: 600px) {
  .socials__link {
    margin: 10px 9px;
  }

  .footer__copyRight {
    font-size: 0.65em;
    margin: 10px;
    text-align: center;
  }
}