@font-face {
    font-family: 'SourceCodePro';
    src: url('../../fonts/SourceCodePro-Bold.eot');
    src: local('☺'), url('../../fonts/SourceCodePro-Bold.woff') format('woff'), url('../../fonts/SourceCodePro-Bold.ttf') format('truetype'), url('../../fonts/SourceCodePro-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courgette';
    src: url('../../fonts/Courgette-Regular.eot');
    src: local('☺'), url('../../fonts/Courgette-Regular.woff') format('woff'), url('../../fonts/Courgette-Regular.ttf') format('truetype'), url('../../fonts/Courgette-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Righteous';
    src: url('../../fonts/Righteous.eot');
    src: local('☺'), url('../../fonts/Righteous.woff') format('woff'), url('../../fonts/Righteous.ttf') format('truetype'), url('../../fonts/Righteous.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body.lock {
    overflow: hidden;
}

.homepage__wrapper {
    min-height: 0;
}

.header__body {
    background-color: #fff;
}

.galleryMargin {
    position: relative;
    min-height: 90px;
    background-color: #e7e4e4;
}

.revirGallery {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../images/background-images/water-districts-bg-image.webp) 50% 50% / cover no-repeat;
}

.revirGallery__header {
    position: relative;
    padding: 100px 0 50px 0;
}

.revirGallery__headerItem {
    position: relative;
    display: inline-block;
    color: #e7e4e4;
    font-size: 1.3em;
    font-family: "SourceCodePro", sans-serif;
    animation: wavyAnimate 1.5s ease-in-out infinite;
    animation-delay: calc(50ms * var(--i));
}

@keyframes wavyAnimate {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-20px);
    }

    40%, 100% {
        transform: translateY(0px);
    }
}

.revirGallery__instruction {
    width: 100%;
    max-width: 1320px;
    margin-bottom: 20px;
    color: #e7e4e4;
    font-size: 1.5em;
    font-family: "SourceCodePro", sans-serif;
}

.revirGallery__container,
.revirGallery__container-mimopstruhovy {
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.revirGallery__container-mimopstruhovy {
    flex-direction: column;
}

.revirGallery__firstRow,
.revirGallery__secondRow {
    max-width: 100%;
    height: auto;
    display: flex;
}

.revirGallery__contentBox {
    max-height: 800px;
    height: 100%;
    width: 220px;
    overflow: hidden;
}

.revirGallery__contentBox-mimopstruhovy {
    height: 100%;
    max-width: 440px;
    max-height: 400px;
    overflow: hidden;
}

.revirGallery__imageBox {
    width: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.revirGallery__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.revirGallery__image.image-mimopstruhovy:hover {
    width: calc(100% - 2px);
    border: 1px solid #e7e4e4;
}

.revirGallery__image:hover {
    border: 1px solid #e7e4e4;
}

/* Tabs */

.revirGallery__description {
    width: 100%;
    max-width: 1320px;
    margin-bottom: 100px;
}

.revirGallery__navigation {
    display: flex;
}

.revirGallery__navigationItem {
    height: 70px;
    display: flex;
    flex: 0 1 50%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "SourceCodePro", sans-serif;
    text-decoration: none;
    background-color: #e7e4e4;
    color: #443726;
}

.revirGallery__navigationItem-active {
    background-color: #19140c;
    color: #e7e4e4;
}

.revirGallery__tab {
    padding: 30px;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.4px;
    background-color: #19140c;
    color: #e7e4e4;
    font-family: "Courgette", sans-serif;
    display: none;
}

.revirGallery__tab-active {
    display: block;
}

/* Popup */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    position: relative;
    max-width: 800px;
    background-color: #e7e4e4;
    color: #443726;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    transition: all 0.8s ease 0s;
}

.popup__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    vertical-align: top;
}

.popup.open .popup__content {
    opacity: 1;
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup__closeContainer {
    min-height: 30px;
    position: relative;
    text-align: right;
    background-color: #0f100f;
}

.popup__close {
    position: absolute;
    width: 50px;
    font-size: 25px;
    right: 0;
    text-decoration: none;
    text-align: center;
    color: red;
    border: 1px solid #e7e4e4;
}

.popup__close:hover {
    color: #e7e4e4;
    background-color: red;
    border: 1px solid red;
    transition: all 0.3s ease-in-out 0s;
}

/* Mobilní zařízení */

@media only screen and (max-width: 1365px) {

    .galleryMargin {
        min-height: 80px;
    }

    .revirGallery__navigationItem {
        height: 50px;
        font-size: 24px;
    }

    .revirGallery__tab {
        padding: 24px;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 1.2px;
    }
}

@media only screen and (max-width: 768px) {

    .galleryMargin {
        min-height: 60px;
    }

    .revirGallery__header {
        padding: 60px 0 30px 0;
    }

    .revirGallery__description {
        margin-bottom: 70px;
    }

    .revirGallery__navigationItem {
        font-size: 18px;
    }

    .revirGallery__tab {
        padding: 20px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1.2px;
    }

    .popup__closeContainer {
        min-height: 26px;
    }

    .popup__close {
        width: 40px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 450px) {

    .revirGallery__headerItem {
        font-size: 1em;
    }

    .revirGallery__instruction {
        font-size: 1em;
    }

    .revirGallery__description {
        margin-bottom: 50px;
    }

    .revirGallery__navigationItem {
        font-size: 15px;
    }

    .revirGallery__tab {
        padding: 15px;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 1.1px;
    }

    .popup__closeContainer {
        min-height: 22px;
    }

    .popup__close {
        width: 35px;
        font-size: 17px;
    }
}
