extends ../../layout/main

block variables
    - var scriptSrc = 'revir_471131.js'

block content
    .galleryMargin
    section.revirGallery
        h2.revirGallery__header
            span.revirGallery__headerItem(style="--i:1;") 4
            span.revirGallery__headerItem(style="--i:2;") 7
            span.revirGallery__headerItem(style="--i:3;") 1
            span.revirGallery__headerItem(style="--i:4;") &nbsp;
            span.revirGallery__headerItem(style="--i:5;") 1
            span.revirGallery__headerItem(style="--i:6;") 3
            span.revirGallery__headerItem(style="--i:7;") 1
            span.revirGallery__headerItem(style="--i:8;") &nbsp;
            span.revirGallery__headerItem(style="--i:9;") -
            span.revirGallery__headerItem(style="--i:10;") &nbsp;
            span.revirGallery__headerItem(style="--i:11;") S
            span.revirGallery__headerItem(style="--i:12;") t
            span.revirGallery__headerItem(style="--i:13;") o
            span.revirGallery__headerItem(style="--i:14;") n
            span.revirGallery__headerItem(style="--i:15;") á
            span.revirGallery__headerItem(style="--i:16;") v
            span.revirGallery__headerItem(style="--i:17;") k
            span.revirGallery__headerItem(style="--i:18;") a
            span.revirGallery__headerItem(style="--i:19;") &nbsp;
            span.revirGallery__headerItem(style="--i:20;") 2
            span.revirGallery__headerItem(style="--i:21;") &nbsp;
            span.revirGallery__headerItem(style="--i:22;") A
        h3.revirGallery__instruction Zvolte si úsek revíru na mapě:
        .revirGallery__container
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#1(src='../../districts-images/revir_471131/471131_1.png')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#2(src='../../districts-images/revir_471131/471131_2.png')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#3(src='../../districts-images/revir_471131/471131_3.png')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#4(src='../../districts-images/revir_471131/471131_4.png')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#5(src='../../districts-images/revir_471131/471131_5.png')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#6(src='../../districts-images/revir_471131/471131_6.png')
        .revirGallery__description
            nav.revirGallery__navigation
                a.revirGallery__navigationItem(href="#tab_01") Popis revíru
                a.revirGallery__navigationItem(href="#tab_02") Vlastnosti revíru
            .revirGallery__tabs
                #tab_01.revirGallery__tab
                    | Revír tvoří:
                    br
                    | údolní nádrž v k. ú. Těrlicko 267 ha
                    br
                    | Od tělesa hráze údolní nádrže až k 1. jezu na toku Stonávky nad koncem vzdutí hladiny včetně biologického rybníka v k. ú. Těrlicko 6,0 ha	a bývalého Halamova rybníka v zátopě nádrže.
                    br
                    | Na konci vzdutí hlavní nádrže může být vymezen úsek pro přirozenou reprodukci ryb – označeno tabulemi – lov ryb zakázán.
                    br
                    | Na revíru je povolen provoz sportovních motorových plavidel dle plavebního řádu.
                    br
                    | Jedná se o revír s místy vyhrazenými pro handicapované rybáře (viz BPVRP). Zásadní podmínkou pro lov a asistenci tělesně postižené osobě je fakt, že je držitelem povolenky pro daný revír.
                    br
                    | Tabule jsou vyvěšeny na čtyřech místech: Pod rybářskou chatou, Na Vyhlídce v Těrlicku, Pod motelem Frydrych, Pod dílnou Těrlicko zadky.
                    br
                    | Povolenky jsou vydávány na adrese MO ČRS Havířov, z.s., Rybářská 154/7, Těrlicko v úřední hodiny, tel: 774 556 541.
                    br
                    | Zakládání otevřených ohňů se zakazuje.
                #tab_02.revirGallery__tab
                    | Číslo revíru: 471 131
                    br
                    | GPS 49°46'35.893"N, 18°30'54.366"E
                    br
                    | GPS 49°44'28.024"N, 18°29'41.414"E
                    br
                    | Rozloha revíru: 267 ha
                    br
                    | Typ revíru: mimopstruhový revír
                    br
                    | Uživatel revíru: Moravskoslezský ÚS
                    br
                    | Organizace pověřená hospodařením: MO Havířov
    .popup#popup
        .popup__body
            .popup__content
                .popup__closeContainer
                    a.popup__close(href="") X
                img.popup__image(src='')