extends ../../layout/main

block variables
    - var scriptSrc = 'revir_471096.js'

block content
    .galleryMargin
    section.revirGallery
        h2.revirGallery__header
            span.revirGallery__headerItem(style="--i:1;") 4
            span.revirGallery__headerItem(style="--i:2;") 7
            span.revirGallery__headerItem(style="--i:3;") 1
            span.revirGallery__headerItem(style="--i:4;") &nbsp;
            span.revirGallery__headerItem(style="--i:5;") 0
            span.revirGallery__headerItem(style="--i:6;") 9
            span.revirGallery__headerItem(style="--i:7;") 6
            span.revirGallery__headerItem(style="--i:8;") &nbsp;
            span.revirGallery__headerItem(style="--i:9;") -
            span.revirGallery__headerItem(style="--i:10;") &nbsp;
            span.revirGallery__headerItem(style="--i:11;") O
            span.revirGallery__headerItem(style="--i:12;") p
            span.revirGallery__headerItem(style="--i:13;") a
            span.revirGallery__headerItem(style="--i:14;") v
            span.revirGallery__headerItem(style="--i:15;") a
            span.revirGallery__headerItem(style="--i:16;") &nbsp;
            span.revirGallery__headerItem(style="--i:17;") 4
            span.revirGallery__headerItem(style="--i:18;") &nbsp;
            span.revirGallery__headerItem(style="--i:19;") A
        h3.revirGallery__instruction Zvolte si úsek revíru na mapě:
        .revirGallery__container-mimopstruhovy
            .revirGallery__firstRow
                .revirGallery__contentBox-mimopstruhovy
                    .revirGallery__imageBox
                        img.revirGallery__image.image-mimopstruhovy#1(src='../../districts-images/revir_471096/471096_1.png')
                .revirGallery__contentBox-mimopstruhovy
                    .revirGallery__imageBox
                        img.revirGallery__image.image-mimopstruhovy#2(src='../../districts-images/revir_471096/471096_2.png')
                .revirGallery__contentBox-mimopstruhovy
                    .revirGallery__imageBox
                        img.revirGallery__image.image-mimopstruhovy#3(src='../../districts-images/revir_471096/471096_3.png')
            .revirGallery__secondRow
                .revirGallery__contentBox-mimopstruhovy
                    .revirGallery__imageBox
                        img.revirGallery__image.image-mimopstruhovy#4(src='../../districts-images/revir_471096/471096_4.png')
                .revirGallery__contentBox-mimopstruhovy
                    .revirGallery__imageBox
                        img.revirGallery__image.image-mimopstruhovy#5(src='../../districts-images/revir_471096/471096_5.png')
                .revirGallery__contentBox-mimopstruhovy
                    .revirGallery__imageBox
                        img.revirGallery__image.image-mimopstruhovy#6(src='../../districts-images/revir_471096/471096_6.png')
        .revirGallery__description
            nav.revirGallery__navigation
                a.revirGallery__navigationItem(href="#tab_01") Popis revíru
                a.revirGallery__navigationItem(href="#tab_02") Vlastnosti revíru
            .revirGallery__tabs
                #tab_01.revirGallery__tab
                    | Revír tvoří:
                    br
                    | zatopený sádrovcový důl 	v k. ú. Kateřinky 	6,0 ha
                    br
                    | Na revíru platí zákaz vnadění od 15. 6. do 15. 8. (včetně)
                #tab_02.revirGallery__tab
                    | Číslo revíru: 473 096
                    br
                    | GPS 49°57'13.771"N, 17°53'39.732"E
                    br
                    | Rozloha revíru: 6 ha
                    br
                    | Typ revíru: mimopstruhový revír
                    br
                    | Uživatel revíru: Moravskoslezský ÚS
                    br
                    | Organizace pověřená hospodařením: MO Opava
    .popup#popup
        .popup__body
            .popup__content
                .popup__closeContainer
                    a.popup__close(href="") X
                img.popup__image(src='')