extends ../../layout/main

block variables
    - var scriptSrc = 'revir_473052.js'

block content
    .galleryMargin
    section.revirGallery
        h2.revirGallery__header
            span.revirGallery__headerItem(style="--i:1;") 4
            span.revirGallery__headerItem(style="--i:2;") 7
            span.revirGallery__headerItem(style="--i:3;") 3
            span.revirGallery__headerItem(style="--i:4;") &nbsp;
            span.revirGallery__headerItem(style="--i:5;") 0
            span.revirGallery__headerItem(style="--i:6;") 5
            span.revirGallery__headerItem(style="--i:7;") 2
            span.revirGallery__headerItem(style="--i:8;") &nbsp;
            span.revirGallery__headerItem(style="--i:9;") -
            span.revirGallery__headerItem(style="--i:10;") &nbsp;
            span.revirGallery__headerItem(style="--i:11;") M
            span.revirGallery__headerItem(style="--i:12;") o
            span.revirGallery__headerItem(style="--i:13;") r
            span.revirGallery__headerItem(style="--i:14;") a
            span.revirGallery__headerItem(style="--i:15;") v
            span.revirGallery__headerItem(style="--i:16;") i
            span.revirGallery__headerItem(style="--i:17;") c
            span.revirGallery__headerItem(style="--i:18;") e
            span.revirGallery__headerItem(style="--i:19;") &nbsp;
            span.revirGallery__headerItem(style="--i:20;") 2
        h3.revirGallery__instruction Zvolte si úsek revíru na mapě:
        .revirGallery__container
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#1(src='../../districts-images/revir_473051/473051_1.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#2(src='../../districts-images/revir_473051/473051_2.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#3(src='../../districts-images/revir_473051/473051_3.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#4(src='../../districts-images/revir_473051/473051_4.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#5(src='../../districts-images/revir_473051/473051_5.jpg')
            .revirGallery__contentBox
                .revirGallery__imageBox
                    img.revirGallery__image#6(src='../../districts-images/revir_473051/473051_6.jpg')
        .revirGallery__description
            nav.revirGallery__navigation
                a.revirGallery__navigationItem(href="#tab_01") Popis revíru
                a.revirGallery__navigationItem(href="#tab_02") Vlastnosti revíru
            .revirGallery__tabs
                #tab_01.revirGallery__tab
                    | Přítok Opavy, Odry. Od jezu pod Žimrovicemi až po bývalý jez nad dřevěným mostem ve Větřkovicích včetně náhonu na papírnu Žimrovice.
                    br
                    | Přítoky jsou CHRO – lov ryb zakázán.
                    br
                    | Nejmenší lovná míra pstruha obecného zvýšena na 30 cm.
                #tab_02.revirGallery__tab
                    | Číslo revíru: 473 052
                    br
                    | GPS Z: 49°51‘4.548“N, 17°50‘30.576“E, K: 49°49‘52.754“N, 17°49‘53.321“E
                    br
                    | Rozloha revíru: 12 km, 18 ha
                    br
                    | Typ revíru: pstruhový revír
                    br
                    | Uživatel revíru: Moravskoslezský ÚS
                    br
                    | Organizace pověřená hospodařením: MO Opava
    .popup#popup
        .popup__body
            .popup__content
                .popup__closeContainer
                    a.popup__close(href="") X
                img.popup__image(src='')